@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500&display=swap');



html,
body {
    box-sizing: border-box;
    color: white;
    /* overflow: hidden; */
    /* pointer-events: none; */
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}



.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: -1;
    /* pointer-events: all; */
}


html {
    /* overflow: hidden; */
    width: 100%;
}

.lil-gui {
    display: none !important;
}

/* body {
    height: 100%;
    position: fixed;
    overflow-y: scroll; 
    -webkit-overflow-scrolling: touch;
} 
*/

html.lenis {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}

/* Global */

h1 {
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 118.82%;

}

p {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 130%;

}

.btn {
    border-radius: 121px;
    background: #0E121D;
    box-shadow: 18px -3px 18px 7px rgba(0, 0, 0, 0.25);
    font-family: Frank Ruhl Libre;
    border: none;
    color: white;
    font-weight: 300;
    line-height: 130%;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;

}

.btn:hover {
    background-color: #1a1e2a;
}

.btn:active {
    transform: scale(0.95);
}



/*Loader*/

.loader {
    background-color: #02040c;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 100000;
    top: 0;
    left: 0;
    transition: cubic-bezier(0.77, 0, 0.175, 1) 0.9s forwards;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

}

.loader.slide-up {
    transform: translateY(-100%);
}

/* Counters */
.counter {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
    position: relative;

}

.counter .digit,
.percent {
    height: 160px;
    width: 60px;
    line-height: 160px;
    font-size: 90px;
    text-align: center;
}

.counter-hidden {
    position: absolute;
    top: -170px;
    width: 400px;
    height: 100px;
    background-color: #02040c;
}

.counter[data-type="simple-digits"] .digit {
    overflow: hidden;
    position: relative;
}

.counter[data-type="simple-digits"] .digit::before,
.counter[data-type="simple-digits"] .digit span {
    width: 100%;
    display: block;
    position: absolute;
}

.counter[data-type="simple-digits"] .digit::before {
    content: attr(data-digit-from);
    top: -100%;
}

.counter[data-type="simple-digits"] .digit.flip::before,
.counter[data-type="simple-digits"] .digit.flip span {
    animation: slideUp .75s cubic-bezier(0.77, 0, 0.175, 1);
}

/* Animations */
@keyframes slideUp {
    from {
        transform: translateY(100%);
    }
}

@keyframes emptyForCallback {
    to {
        top: auto;
    }
}

.loader-text {
    position: absolute;
    bottom: 120px;
    opacity: 0.6;
    /* animation: blink 4s infinite; */
}

.loader-text-hidden-box {
    width: 300px;
    height: 50px;
    background-color: #02040c;
    position: absolute;
    bottom: 9%;

}

.loader-background {
    position: absolute;
    height: 500px;
    object-fit: cover;
    z-index: 1;


}

@keyframes blink {
    0% {
        opacity: .6;
    }

    50% {
        opacity: .9;
    }

    100% {
        opacity: .6;
    }

}

/* Header */

.header-wrapper {
    position: fixed;
    width: 100%;
    z-index: 10;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 34px;
    width: 80%;
    margin: 0 auto;
    max-width: 1400px;
    margin-top: 50px;

}

.logo {
    width: 143px;
    height: 34px;
    cursor: pointer;
    opacity: 0;
}

@keyframes fadein {
    from {
        opacity: 0;

    }

    to {
        opacity: 1;
    }

}

ul {
    display: flex;
    gap: 56px;
}

li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
    transition: 0.2s color ease-in-out;
    opacity: 0;
    /* animation: fadein 1s ease-in-out 1s forwards; */
}

a:hover {
    color: #bcbdd2;
}

.about-link {
    margin-right: 56px;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
    opacity: 0;
    text-wrap: nowrap;

}


.about-link:hover {
    color: #bcbdd2;
}


.menu-btn {
    cursor: pointer;
    display: none;
}

.menu-list {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #02040c;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    transition: transform .6s cubic-bezier(1, .11, .58, .91);
    transform: translateX(-100%);
}

/* page transition */
.trig02 {
    height: 2000px;
}

.trig03 {
    height: 6000px;
}

.test-content {
    overflow-x: hidden;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.test-content>h1 {
    opacity: 0;
    user-select: none;
    pointer-events: none;
}

.text-animation {
    height: 2000px;
}

.to-be-animated {
    height: 370px;
    width: 770px;
    position: fixed;
    bottom: 5%;
    right: 30px;
    padding: 20px;
    border-radius: 20px;
    opacity: 0;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    transform-origin: left;
    background-color: rgba(1, 1, 1, 0.4);
    transform: perspective(1000px) translate3d(50px, -275px, -1200px) rotateX(-20deg) rotateY(-75deg) rotateZ(-20deg) scale3d(0.4, 0.4, 0.4);
    will-change: opacity, transform;
    backdrop-filter: blur(10px);

}

.to-be-animated>div {
    position: absolute;
    /* -webkit-mask-image: linear-gradient(270deg, black 70%, transparent 70%);
    mask-image: linear-gradient(270deg, black 70%, transparent 70%); */


}

.first-card {
    -webkit-mask-image: linear-gradient(270deg, black 70%, transparent 70%);
    mask-image: linear-gradient(270deg, black 70%, transparent 70%);
    width: 95%;
}

.page-transition-one {
    width: 130vw;
    height: 6500px;
    background-color: #02040c;
    box-shadow: 1px -20px 200px 400px #02040c;
    transform: rotate(3deg);
    opacity: 0.7;
    /* display: none; */
}

.page-transition-two {
    width: 130vw;
    height: 4500px;
    background-color: #02040c;
    box-shadow: 1px -20px 200px 400px #02040c;
    transform: rotate(3deg);
    opacity: 0.7;
    /* display: none; */
}


.text-animation-container {
    display: flex;
    position: fixed;
    top: 30%;
    left: 0;
    justify-content: space-around;
    width: 100%;

    flex-wrap: wrap;

}

.text-animation-container>div {
    width: 481px;
    border-radius: 10px;
    font-size: 38px;
    font-weight: 400;
    color: #ffffff;

}

.flash-cards {
    position: fixed;
    opacity: 1;
    display: flex;
    justify-content: space-between;
    width: 95%;
    max-width: 1400px;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}


.flash-cards h2 {
    width: 300px;
    -webkit-mask-image: linear-gradient(90deg, black -100%, transparent 0%);
    mask-image: linear-gradient(90deg, black -100%, transparent 0%)
}


@media (max-width: 1168px) {

    .to-be-animated {
        height: 280px;
        width: 545px;

    }

    .to-be-animated>div h1 {
        font-size: 25px;
    }

    .flash-cards {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}

@media (max-width: 768px) {

    .to-be-animated {
        height: 280px;
        width: 265px;

    }

    .to-be-animated>div h1 {
        font-size: 20px;
    }

    .text-animation-container>div {
        width: 354px;
        font-size: 28px;
    }

}






/* Main Section */

.content-wrapper {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    /* overflow-y: scroll; */


}

.pillars-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}


.landing-page-container {
    width: 80%;
    margin: 0 auto;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.btn-primary {
    width: 212px;

    font-size: 20px;
    font-style: normal;

    opacity: 0;

}

.btn-header {

    width: 142px;
    height: 40px;
    font-size: 16px;
}

.header-links ul {
    display: flex;
    align-items: center;
}

.hero-title {
    margin-bottom: -25px;
    width: 360px;
    height: 52px;
}

.hero-title {
    overflow: hidden;
    line-height: 1;
}

.hero-title span {
    display: block;
    transform: translate(0, 100%);

}

/* .hero-title-second>span {
    animation-delay: .6s;

} */

.hero-title-second {
    margin-bottom: 30px;
}

@keyframes reveal {
    0% {
        transform: translate(0, 100%);
    }

    100% {
        transform: translate(0, 0);
    }
}

.hero-subtitle>p {
    margin: 5px;
    overflow: hidden;

}

.hero-subtitle>p>span {
    display: block;
    transform: translate(0, 100%);

}

/* .hero-sub-1 {

    animation: reveal 1s cubic-bezier(0.77, 0, 0.175, 1) .9s forwards;
}

.hero-sub-2 {

    animation: reveal 1s cubic-bezier(0.77, 0, 0.175, 1) 1s forwards;
}

.hero-sub-3 {
    animation: reveal 1s cubic-bezier(0.77, 0, 0.175, 1) 1.1s forwards;
} */


.logo-overlay {
    position: absolute;
    bottom: -15vw;
    opacity: 0.1;
    left: 0;
    width: 100%;
    object-fit: cover;
    user-select: none;
    /* animation: overlayfadein 3s ease 1s forwards; */
    opacity: 0;
}

@keyframes overlayfadein {
    from {
        opacity: 0;

    }

    to {
        opacity: 0.1;

    }
}





.bottom-blur {
    height: 200px;
    width: 100%;
    position: absolute;
    bottom: -140px;
    left: 0;
    backdrop-filter: blur(3px);

}



/* cards section */

.cards-wrapper {
    width: 80%;
    margin: 0 auto;
    max-width: 1400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: -100px;
}

@keyframes fadeinslideup {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }


}

.card {
    border-radius: 10px;
    border: 2px solid #4b4b4b64;
    width: 360px;
    height: 370px;
    border-radius: 10px;
    align-self: center;
    background: linear-gradient(155deg, #121723 0%, #1F2442 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    position: relative;
    opacity: 0;
    /* animation: fadeinslideup .5s ease-in-out forwards; */
}



/* .card-1 {
    animation-delay: 1.8s;
}

.card-2 {
    animation-delay: 1.6s;
}

.card-3 {
    animation-delay: 1.9s;
} */



.card-1 {
    box-shadow: 33px 4px 88px 0px rgba(23, 42, 94, 0.25);
}

.card-2 {
    border: 2px solid #7b7b7b64;
    background: linear-gradient(126deg, #202442 0%, #10121E 100%);
    box-shadow: 19px 15px 52px 0px rgba(10, 66, 79, 0.25);
}

.card-3 {
    border: 2px solid #b3a3a364;
    background: linear-gradient(147deg, #0F111D 0%, #182131 100%);
    box-shadow: 33px 37px 66px 0px #0C0F18;
}

.card-background-container {
    overflow: hidden;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    height: 100%;
    z-index: 0;

}


.card-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 186px;
}

.card-logo-and-title {
    display: flex;
    gap: 13.7px;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 40px;
    width: 201px;
    height: 73px;
}



.card-title {
    font-size: 20px;
    font-weight: 400;
    line-height: 118.82%;
}

.card-subtitle {
    font-size: 12px;
    font-weight: 500;
    line-height: 118.82%;
    margin-top: 30.2px;

}

.card-text-strong {
    font-weight: 400;
    color: white;
}

.card-text {
    color: rgba(255, 255, 255, 0.75);
    font-size: 18px;
    font-weight: 400;
    line-height: 18.258px;
    margin-top: 10px;
    width: 190px;
    height: 90px;
}

.card button {
    width: 186px;
    height: 45px;
    align-self: center;
    border-radius: 58px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    background: #0E121D;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    z-index: 1;
    margin-top: 30px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.card button:hover {
    background-color: #1a1e2a;
}

.card button:active {
    transform: scale(0.95);
}


.card-background {
    position: absolute;
    bottom: -10%;
    left: 30%;
    width: 100%;
    /* z-index: 1; */
    user-select: none;
    pointer-events: none;
}

/* Page */


.lower-page {
    position: relative;
    height: 5vh;
}

.page-lines {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    z-index: -1;
    opacity: 0.1;

}

/* footer email-input */

.email-container {
    width: max-content;
    max-width: 1400px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #02040c;
    padding: 30px;
    transition: opacity .3s ease;
    border-radius: 10px;
    pointer-events: all !important;

}

.x-icon {
    transition: opacity .2s ease;
    cursor: pointer;
    ;
}

.x-icon:hover {
    opacity: .9;
}

.x-icon:active {
    opacity: .4;
}

.hidden {
    opacity: 0;
    pointer-events: none !important;
}

.email-input {
    width: 321.5px;
    height: 43.5px;
    border-radius: 51px;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.558);
    background-color: transparent;
    color: #BCBCBC;
    font-family: Ruda;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 20px;
    margin-bottom: 20px;
    text-indent: 20px;
}

.email-input::placeholder {
    color: rgba(255, 255, 255, 0.669);
    font-weight: 400;
}

.email-input-header {
    width: 300px;
    font-size: 20px;
    margin-bottom: 10px;
}

.message-container {
    position: relative;
}

.message {
    top: -20px;
    right: 15px;
    font-size: 12px;
    position: absolute;

}

.email-submit-message {

    max-width: 300px;
}

.sub-btn {
    width: 186px;
    height: 45px;
    border-radius: 51px;
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    line-height: normal;
    border: 1px solid rgba(255, 255, 255, 0.062);
    outline: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    transition: transform 0.1s;
}


.footer {
    background-color: black;
    padding: 1px;
    text-align: center;
}

.footer p {
    font-size: 16px;
}


/* about card */

.about-card {
    width: max-content;
    position: fixed !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 1000000;
}


.about-card {
    border: 2px solid #4b4b4b64;
    border-radius: 10px;
    align-self: center;
    background: black;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    overflow: hidden;
    opacity: 0;
    padding: 40px 40px 10px 40px;
    transition: opacity 0.3s ease;
    pointer-events: none;

}

.rocket {
    height: 60px;
    margin-top: -10px;
    margin-bottom: 17px;
    /* animation: rocketAnimation 1s forwards; */
    pointer-events: none;
    user-select: none;
}

.close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    width: 20px;
    height: 16px;
    transition: opacity 0.3s ease;
}

.close-button:hover {
    opacity: 0.8;
}


.about-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.about-text {
    font-size: 20px;
    font-weight: 300;
    margin: 0;
    overflow: hidden;
    margin-top: -1px;

}

.about-text span {
    overflow: hidden;
    display: block;
    position: relative;

}

/* .about-text>span {
    transform: translateY(100%);
  
  } */

/* .about-text-0 {
    animation: reveal 1s cubic-bezier(0.77, 0, 0.175, 1) 0.9s forwards;
  }
  
  .about-text-1 {
    animation: reveal 1s cubic-bezier(0.77, 0, 0.175, 1) 0.95s forwards;
  }
  
  .about-text-2 {
    animation: reveal 1s cubic-bezier(0.77, 0, 0.175, 1) 1s forwards;
  }
  
  .about-text-3 {
    animation: reveal 1s cubic-bezier(0.77, 0, 0.175, 1) 1.05s forwards;
  }
  
  .about-text-4 {
    animation: reveal 1s cubic-bezier(0.77, 0, 0.175, 1) 1.1s forwards;
  }
  
  .about-text-5 {
    animation: reveal 1s cubic-bezier(0.77, 0, 0.175, 1) 1.15s forwards;
  }
  
  .about-text-6 {
    animation: reveal 1s cubic-bezier(0.77, 0, 0.175, 1) 1.2s forwards;
  }
  
  .about-text-7 {
    animation: reveal 1s cubic-bezier(0.77, 0, 0.175, 1) 1.25s forwards;
  }
  
  .about-text-8 {
    animation: reveal 1s cubic-bezier(0.77, 0, 0.175, 1) 1.3s forwards;
  }
  
  .about-text-9 {
    animation: reveal 1s cubic-bezier(0.77, 0, 0.175, 1) 1.35s forwards;
  } */


.about-shown {
    opacity: 1;
    pointer-events: all;
}

/* @keyframes reveal {
    0% {
      transform: translate(0, 100%);
    }
  
    100% {
      transform: translate(0, 0);
    }
  } */

@media (max-width: 768px) {

    .about-text span {
        font-size: 17px;
    }

    .about-card {
        padding: 5px 15px;
    }

    .rocket {
        height: 50px;
        margin-top: 10px;

    }
}



@media (max-width:450px) {


    .about-text span {
        font-size: 14.5px;
        line-height: 24px;
    }

    ul {
        gap: 10px;
    }

}

@media (max-width:370px) {


    .about-text span {
        font-size: 13.5px;
        line-height: 20px;
    }

}



/* @keyframes rocketAnimation {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
  
    25% {
      opacity: .1;
      transform: translateY(-10px);
      animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  } */

/* Responsiveness */

@media (max-width: 768px) {

    header {
        width: 95%;
        margin-left: 0;

    }

    .menu-btn {
        display: block;
    }



    .about-link {
        margin-right: 0px;
    }


    .container {
        width: 95%;
    }

    .email-container {
        width: 80%;
        max-width: 320px;
    }

    .email-container p {
        max-width: 300px;
    }

    .email-container input {
        width: 260px;
    }

    h1 {
        font-size: 40px;
    }

    .hero-title span {
        transform: translate(0, 120%);
    }

    .email-input-header {
        width: 360px;
        font-size: 16px;
    }

    .hero-title {
        width: 290px;
        font-size: 40px;
    }

    p {
        font-size: 16px;

    }

    .landing-page-container {
        width: 95%;
    }

    .hero-subtitle {
        width: 234px;
    }


    .btn-primary {
        width: 104px;
        height: 33px;
        font-size: 16px;
        text-wrap: nowrap;
    }

    .cards-wrapper {
        width: 95%;
        justify-content: center;
        flex-direction: column;
        flex-wrap: nowrap;

    }

    .card {
        width: 229px;
        height: 300px;
        padding: 15px;
    }

    .card-content {
        width: 90%;
        justify-content: space-around;
    }

    .card-text {
        height: 60px;
        font-size: 16px;

    }

    .card-logo-and-title {
        margin-top: 15px;
        margin-bottom: 10px;
    }

    .card button {
        margin-top: 25px;
    }


    .menu-list {
        display: flex
    }

}